test.py
displayBinary.py
Project/Hangman/__pycache__/words.cpython-310.pyc
*.pyc
.gitignore
Mini-Project/portfolio.html
Mini-Project/portfolio.css
.vscode/settings.json
test files/script.js
test files/index.html
