*{
    box-sizing: border-box;
}
main{
    display: flex;
    border: 1px solid;
}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid;
    width: 60%;
    margin: auto;
}
h2{
    padding-left: 10px;
}